{{ define "main" }}
<h1>{{ .Title }}</h1>
{{- if or .Params.avatar .Params.spec }}
<div class="intro">
  {{- if .Params.avatar }}
  {{- with resources.Get "img/max_square.png" }}
  {{- $img := .Resize "480x" }}
  <img class="avatar" src="{{ $img.RelPermalink }}" width="240" height="240" alt="Illustration of Max with two Go gophers snowboarding">
  {{- end }}
  {{- end }}
  {{- with .Params.spec }}
  {{- /* Spec plate: label/value rows, same grammar as the Experience page. */}}
  <dl class="plate spec">
    {{- range . }}
    <div class="spec__row"><dt class="label">{{ .label }}</dt><dd>{{ replace .value " · " "\u00a0· " }}</dd></div>
    {{- end }}
  </dl>
  {{- end }}
</div>
{{- end }}
<div class="prose">
  {{ .Content }}
</div>
{{ end }}
