@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-ExtraLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

html {
    font-family: "Montserrat";
    font-weight: 400;
    scrollbar-width: thin;
    scrollbar-color: darkgrey;
    scrollbar-gutter: solid;
}

td {
    vertical-align: middle !important;
    padding: 1rem 1rem !important;
}

.w-full {
    width: 100%;
}

/* 
I hate this, but I don't have time to troubleshoot why Tailwind is not compiling correctly.

Basically, some tailwind styles are not recognized on the `/resume` page, namely padding and margin.
I've troubleshot down to compiling the styles manually, but it doesn't seem to make a difference
and I don't have anymore time to roubleshoot this now, so here we are! This is slightly less
worse than inline styles I suppose :).
*/
#resume-row {
  margin: 1.5rem 0;
}
