@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-ExtraLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

html {
    font-family: "Montserrat";
    font-weight: 400;
}

.customEntitityLogo {
    max-width: 75px;
    max-height: 75px;
}

td {
    text-align: center;
    vertical-align: middle;
}
