@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-ExtraLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

html {
    font-family: "Montserrat";
    font-weight: 400;
}

td {
    vertical-align: middle !important;
    padding: 1rem 1rem !important;
}

.w-full {
    width: 100%;
}

/* countdown styling */
:root {
    --smaller: .75;
}

.container {
    color: #fbb816;
    margin: 10rem auto 0;
    text-align: center;
}

.chs-headline {
    font-weight: normal;
    text-transform: uppercase;
}

.chs-li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.chs-li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {

    #chs-headline {
        font-size: 1.5rem;
    }

    .container {
        text-align: left;
        margin: 3rem auto 0;
    }

    .chs-ul {
        padding-left: 0;
    }

    .chs-li {
        font-size: 1.125rem;
    }

    .chs-li span {
        font-size: 3.375rem;
    }
}
